.venv/
venv/
env/
ENV/
build/
dist/
*.egg-info/
pycache/
*.pyc
*.pyo
*.pyd
*.pyw
.pytest_cache/
.ipynb_checkpoints/
.env
*.local
BackSet/
backup_settings.json
backup_server_daemon.py
backups/
backups_status.txt
*.sql
.idea/
.vscode/
*.suo
*.user
*.workspace
*.sln
Thumbs.db
desktop.ini
ehthumbs.db
.DS_Store